* {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1.6rem;
}
#logo img {
  width: 8vw;
  filter: invert(26%) sepia(78%) saturate(7481%) hue-rotate(358deg) brightness(102%) contrast(107%);
}

#sign{
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 7px 14px 7px 14px;
  font-size: 1rem;
  margin-left: 1rem;
  font-family: Sans-serif;
  font-weight: 600;
}

select {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 14px 5px 14px;
  border: 1px solid rgba(255, 255, 255, 0.514);
  font-size: 1rem;
}
option{
    color: black;
}
.right_nav{
    padding-right: 2.25rem;
}
#Ads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11rem 13rem 1rem 13rem;
}
#Ads h1{
  font-size: 2.9rem;
  font-weight: 800;
}
#Ads p{
  font-size: 1.5rem;
  margin: 1.3rem;
}

.main-box{
    background-color: rgba(0, 0, 0, 0.64);
}

#login_area{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding-bottom: 8rem;
}
#login_area h3{
  font-size: 1.25rem;
  font-weight: 400;
}
.login-place{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin-top: 17px;
}
.login-place .email input{
  font-size: 1rem;
  padding: 18px 144px 18px 8px;
  border-radius: 5px;
  border: 1.8px solid red;
  background-color: rgba(0, 0, 0, 0.40);
}
.login-place .btn{
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  font-size: 1.5rem;
  font-family: Sans-serif;
  font-weight: 500;
}
.btn img{
  filter: invert(1);
  padding-top: 2px;
}
section {
  background-image: url(assests/Photos/IN-en-20240513-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  color: white;
}

